#homeCards {
    width: 80%;
}

#picColumn {
    /*width:inherit !important;*/
}

#showButton {
    font-size:large;
}

#picCard {
    width: 70% !important;
    margin-right:-5em;
    margin-left:5em;
}

.pageHeader {
    text-align: center;
}

.picContainer {
    height: 75% !important;
    width: 75% !important;
}

.centerStuff {
    text-align: center;
}

#uploadButtonContainer {
    margin: 1.5em;
}

#notice {
    text-align: center;
    font-size: large;
    margin: 2em;
}

.sessionButtons {
    font-size: x-large;
    line-height:3;
}

.formField {
    width: 50% !important;
}
#deviseForm {
    margin-top: 1em;
}

#logOutButton {
    line-height: 1;
    height: 50%;
    font-size: large;
}